body {
    background-color: #F5F2ED;
    color: #3B2C35;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.brand {
    font-family: 'Półtawski Nowy', serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #5C4033;
}

.red-o {
    color: #C74E00;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #F5F2ED;
}

.dark-bg {
    background-color: #5C4033;
}

.main-bg {
    background-color: #F5F2ED;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #73503C;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #FFFDF6;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #5C4033;
    color: F5F2ED;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #5C4033;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.profile-image {
    width: 75%;
}

.post-link {
    text-decoration: none;
    color: #5C4033;
}

.post-link:hover,
.page-link {
    color: #C74E00;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #D1C6B1;
}

.btn-signup {
    background-color:#D1C6B1;
    color: #5C4033;
}

.btn-edit {
    background-color: #D18F2B !important;
    color: #5C4033 !important;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #c5a880;
    color: #3B2C35;
}

.link {
    color: #D18F2B;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #5C4033;
    text-decoration: underline;
}

.btn-like {
    color: #C74E00;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #F5F2ED;
    background: #C74E00;
}

.btn-like:hover,
.btn-like:active {
    color: #C74E00;
    background: transparent;
    border: none;
}

a.custom-social {
    color: #FFF !important;
    text-decoration: none !important;
    background-color: #5C4033 !important; /* or whatever you want */
    padding: 0.25rem;
    border-radius: 5px;
}

a.custom-social i {
    color: #FFF !important;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}