body {
    background-color: #F5F2ED;
    color: #3B2C35;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.brand {
    font-family: 'Półtawski Nowy', serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #5C4033;
}

.brand-lg {
    font-family: 'Półtawski Nowy', serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #5C4033;
}

.brand-terms {
    font-family: 'Półtawski Nowy', serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #5C4033;
}

.navbar-styles {
    background-color: #C5A880;
}

.navbar-slogan {
    color: #3B2C35 !important;
    text-shadow: 2px 2px 4px rgba(209, 198, 177, 1) !important;
}

.navbar .nav-link.nav-text-custom {
    color: #3B2C35 !important;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, font-weight 0.3s ease;
}

/* Hover & focus navbar links */
.navbar .nav-link.nav-text-custom:hover,
.navbar .nav-link.nav-text-custom:focus {
    background-color: #E2C8AA !important;
    font-weight: 600;
    text-decoration: none;
}

/* Active link style navbar links */
.navbar .nav-link.nav-text-custom.active {
    background-color: #E2C8AA !important;
    font-weight: 700;
}

.red-o {
    color: #C74E00;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #F5F2ED;
}

.dark-bg {
    background-color: #5C4033;
}

.main-bg {
    background-color: #F5F2ED;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #73503C;
}

.text-slight-contrast {
    color: #36454F !important;
    font-weight: 400 !important;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #FFFDF6;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

title {
    color: #3B2C35;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #5C4033;
    color: #F5F2ED;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #5C4033;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.profile-image {
    width: 75%;
}

.post-link {
    text-decoration: none;
    color: #5C4033;
}

.post-link:hover,
.page-link {
    color: #C74E00;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #D1C6B1;
}

.btn-signup {
    background-color:#D1C6B1;
    color: #5C4033;
}

.btn-edit {
    background-color: #D18F2B !important;
    color: #5C4033 !important;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #c5a880;
    color: #3B2C35;
}

.link {
    color: #D18F2B;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #5C4033;
    text-decoration: underline;
}

.external-link,
.social-link {
    color: #D1C6B1;
    text-decoration: none;
}

.external-link:hover,
.external-link:active {
    color: #C5A880;
    text-decoration: underline;
}

.social-link:hover,
.social-link:active {
    color: #D18F2B;
}

.btn-like {
    color: #C74E00;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #F5F2ED;
    background: #C74E00;
}

.btn-like:hover,
.btn-like:active {
    color: #C74E00;
    background: transparent;
    border: none;
}

a.custom-social {
    color: #FFF !important;
    text-decoration: none !important;
    background-color: #5C4033 !important; /* or whatever you want */
    padding: 0.25rem;
    border-radius: 5px;
}

a.custom-social i {
    color: #FFF !important;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Modal styles */

.modal-dialog {
    border-radius: 1rem; /* Soften edges for modal */
    max-width: 600px; /* Limit the width to make it less wide */
}

.modal-content {
    border-radius: 1rem; /* Soften edges for modal content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    background-color: #fff8f0; /* Light coffee-cream background */
}

.modal-header {
    background-color: #C74E00; /* Coffee-coloured background */
    color: #fff; /* Text colour for the header */
    font-weight: bold; /* Make the header text bold */
}

.modal-body {
    background-color: #f9f9f9; /* Light background for body */
    color: #5f4b3a; /* Dark brown text for body content */
    font-size: 1rem; /* Slightly larger text for readability */
    padding: 2em;
    border-radius: 0.75rem; /* Soften body */
}

.modal-footer {
    background-color: #f9f9f9; /* Light background for footer */
    padding: 1em;
}

.modal-footer .btn-outline-secondary {
    border-radius: 0.5rem; /* Soften edges for the Close button */
    border-color: #8e735b; /* Coffee-coloured border */
    color: #8e735b; /* Coffee-coloured text */
    background-color: transparent;
}

.modal-footer .btn-outline-danger {
    border-radius: 0.5rem; /* Soften edges for the Delete button */
    border-color: #8e735b; /* Coffee-coloured border */
    color: #8e735b; /* Coffee-coloured text */
    background-color: transparent;
}

.modal-footer .btn-outline-secondary:hover, .modal-footer .btn-outline-danger:hover {
    background-color: #8e735b; /* Coffee background on hover */
    color: #fff;
}

.terms-title {
    background-color: rgba(209, 143, 43, 0.7);
    font-size: 2rem;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.terms-content {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.about-content {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}